body {
  min-height: 2000px;
  padding-top: 70px;
}

@media (min-width: 800px) {
    .app-main-content {
        width: 800px;
    }
}

@media (min-width: 992px) {
    .app-main-content {
        width: 970px;
    }
}


/* Angular UI hack */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.tasks-actions {
	form {
		padding-left: 0;
		padding-right: 0;
	}
	.createCategoryBtn {
		margin-left: -3px;
	}
}

.task-detail {
	position: relative;
	border: 1px solid #eee;
	max-width: 370px;
	min-width: 350px;
	//width: 370px;
	padding: 10px 15px 10px 15px;
	margin-bottom: 25px;
	text-align: left;
	.header {
		position: relative;
		margin-bottom: 5px;
		/*border-bottom: 1px solid;*/
		.title {
			display: inline-block;
			max-width: 90%;
			font-size: 22px;
			font-weight: 200;
			line-height: 1em;
		}
		.status {
			position: absolute;
			border: 1px solid;
			border-radius: 15px;
			height: 25px;
			width: 25px;
			top: 0;
			right: 0;
		}
		.status-new {
			background-color: #428bca;
		}
		.status-waiting {
			background-color: red;
		}
		.status-closed {
			background-color: #5cb85c;
		}
		hr {
			margin: 10px 0 0 0;
			background-color: #eee;
			height: 1px;
		}
	}

	.body {
		padding: 0 5px 0 5px;
		margin-bottom: 10px;		
	}

	.footer {
		position: relative;
		padding: 0 5px 0 5px;
		.date {
			font-style: italic;
		}
		.comments {
			display: inline-block;
			position: absolute;
			right: 0;
		}
	}
}

.task-creation {
	margin-bottom: 15px;
	.form-group {
		margin: auto;
	}
}